* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

html {
  font: 20px/1;

}

.wrapper {
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: 15% auto 5%;
  height: 100vh;
  width: 100vw;
}

.header {
  grid-area: 1 / 1 / 1 / 3;
  background-color:black;
  text-align: center;
}

.header-title {
  font-size: 60px;
  color: white;
  margin: 0.8rem;
}

.footer {
  background-color: bisque;
  grid-area: 3 / 1 / 4 / 3;
  width: 100%;
}

.form-container {
  grid-area: 2 / 2 / 2 / 2;
  width: 100%;
}

.add-review-form {
  display: flex;
  flex-direction: column;
}

.add-review-form__field {
  padding-bottom: 1rem;
}

.review-container {
  display: grid;
  grid-gap: 2rem 1rem;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem;
}

.review-item {
  align-items: flex-start;
  border: 1px red solid;
  border-radius: 0.25rem;
  box-shadow: 0px 1px 2px 0px var(--pink);
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.navigation-bar {
  grid-area: 2 / 1 / 3 / 1;
  background-color: aqua;
}


