<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Review</title>
    <link rel="stylesheet" href="./css/main.css">
</head>


<body>
    <div class="wrapper">
        <header class="header">
            <h1 class="header-title">Website title</h1>
        </header>
        <section class="navigation-bar">
            <nav> Create a Post </nav>
            <nav> Delete a Post </nav>
            <nav> Edit a Post </nav>
        </section>



        <section class="form-container">
            <div class="page-header">
                <h2>Add New Review</h2>
            </div>
            <form class="add-review-form" action="/review.html">
                <fieldset>
                    <div class="add-review-form__field">
                        <label for="book_title" class="add-review-form__field__label">Book title being reviewed:</label>
                        <input class="add-review-form__field__input" type="text" id="book_title"
                            name="book_title"></input>
                    </div>
                    <div class="add-review-form__field">
                        <label for="review_text" class="add-review-form__field__label">Add your review here:</label>
                        <textarea class="add-review-form__field__textarea" id="review_text"
                            name="review_text"></textarea>
                    </div>
                    <div class="add-review-form__field">
                        <label for="review_image" class="add-review-form__field__label">Upload an image
                            (optional):</label>
                        <input class="add-review-form__field__input" type="text" id="review_image"
                            name="review_image"></input>
                    </div>
                    <div class="add-review-form__field">
                        <input class="add-review-form__field__button primary_action" type="text" name="submit"
                            value="Submit Review">
                    </div>
                </fieldset>
            </form>

        </section>

        <footer class="footer">
            <figure class="footer__image">
                <img src="images/footer.jpg">
            </figure>
        </footer>
    </div>
</body>

</html>