<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Review</title>
    <link rel="stylesheet" href="/css/main.css">
</head>


<body>
    <div class="wrapper">
        <header class="header">
            <h1 class="header-title">Website title</h1>
        </header>
        <section class="navigation-bar">
            <nav> Create a Post </nav>
            <nav> Delete a Post </nav>
            <nav> Edit a Post </nav>
        </section>



        <section class="form-container">
            <div class="page-header">
                <h2>Add New Review</h2>
            </div>
            <form class="add-review-form" action="/add" method="POST"> 
                <fieldset>
                    <div class="add-review-form__field">
                        <label for="bookTitle" class="add-review-form__field__label">Book title being reviewed:</label>
                        <input class="add-review-form__field__input" type="text" id="bookTitle"
                            name="bookTitle"></input>
                    </div>
                    <div class="add-review-form__field">
                        <label for="userName" class="add-review-form__field__label">userName :</label>
                        <input class="add-review-form__field__input" type="text" id="userName"
                            name="userName"></input>
                    </div>
                    <div class="add-review-form__field">
                        <label for="reviewTitle" class="add-review-form__field__label">Enter your review title here  :</label>
                        <input class="add-review-form__field__input" type="text" id="reviewTitle"
                            name="reviewTitle"></input>
                    </div>
                    <div class="add-review-form__field">
                        <label for="categoryName" class="add-review-form__field__label">Enter category here:</label>
                        <input class="add-review-form__field__input" type="text" id="categoryName"
                            name="categoryName"></input>
                    </div>                    
                    
                    <div class="add-review-form__field">
                        <label for="reviewBody" class="add-review-form__field__label">Add your review here:</label>
                        <textarea class="add-review-form__field__textarea" id="reviewBody"
                            name="reviewBody"></textarea>
                    </div>
                   <!-- <div class="add-review-form__field"> 
                        <label for="review_image" class="add-review-form__field__label">Upload an image
                            (optional):</label>
                        <input class="add-review-form__field__input" type="text" id="review_image"
                            name="review_image"></input>
                    </div>
                    -->
                    <div class="add-review-form__field">
                        <input class="add-review-form__field__button primary_action" type="submit" name="submit"
                            value="Submit Review">
                    </div>
                </fieldset>
            </form>

        </section>

        <footer class="footer">
        
        </footer>
    </div>
</body>

</html>