<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Review</title>
    <link rel="stylesheet" href="css/main.css">

</head>


<body>
    <div class="wrapper">
        <section th:insert="/sections/header :: header"></section>
        <section th:insert="/sections/nav :: nav"></section>

        <section class="form-container">
            <div class="page-header">
                <h2 class="add-review">Add New Review</h2>
            </div>

            <form class="add-review-form" action="/add" method="POST">

                <fieldset>
                    <div class="add-review-form__field">
                        <label for="bookTitle" class="add-review-form__field__label">Book title being reviewed:</label>
                        <input class="add-review-form__field__input" type="text" id="bookTitle"
                            name="bookTitle"></input>
                    </div>

                    <div class="add-review-form__field">
                        <label for="userName" class="add-review-form__field__label">userName :</label>
                        <input class="add-review-form__field__input" type="text" id="userName" name="userName"></input>
                    </div>

                    <div class="add-review-form__field">
                        <label for="reviewTitle" class="add-review-form__field__label">Enter your review title here
                            :</label>
                        <input class="add-review-form__field__input" type="text" id="reviewTitle"
                            name="reviewTitle"></input>
                    </div>

                    <div class="add-review-form__field">
                        <label for="categoryId" class="add-review-form__field__label">Select category:</label>
                        <select class="add-review-form__field__dropdown" name="categoryId" id="categoryId">
                            <option value="">
                            </option>
                            <option th:each="category : ${categories}" th:value="${category.id}"
                                th:text="${category.categoryName}">
                            </option>
                        </select>
                    </div>

                    <div class="add-review-form__field">
                        <label for="reviewBody" class="add-review-form__field__label">Add your review here:</label>
                        <textarea class="add-review-form__field__textarea" id="reviewBody" name="reviewBody"></textarea>
                    </div>

                    <div class="add-review-form__field">
                        <label for="tagList" class="add-review-form__field__label">Select tag(s) to add:</label>
                        <select multiple size class="add-review-form__field__selectbox" name="tagList" id="tagList">
                            <option th:each="tag : ${tags}" th:value="${tag.id}" th:text="${tag.tagName}">
                            </option>
                        </select>
                    </div>

                    <div class="add-review-form__field">
                        <input class="add-review-form__field__button primary_action" type="submit" name="submit"
                            value="Submit Review">
                    </div>

                </fieldset>
            </form>

        </section>

        <section th:insert="/sections/footer :: footer"></section>
    </div>
</body>

</html>