<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Review</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>

    <div class="wrapper">

        <section class="header" th:insert="/sections/header :: header"></section>

        <section class="nav-bar" th:insert="/sections/nav :: nav"></section>

        <section class="review-container">

            <article class="welcome-page">
                <h1 class="welcome-page__welcome-header">Welcome to the Sweetest Li'l Book Reviews 
                    Page on the World Wide Web!</h1>

            </article>

        </section>


        <section class="footer" th:insert="/sections/footer :: footer"></section>

    </div>

</body>

</html>