<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Review</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>

    <div class="wrapper">
        <header class="header">
            <h1 class="header-title">Millie's Book Barn</h1>
        </header>
        <section class="navigation-bar">
            <nav>Create a Post</nav>
            <nav> Delete a Post</nav>
            <nav> Edit a Post</nav>
        </section>

        <article class="review-item">
            <section class="review-item__header">

                <h2 class="review-item__header-title">
                    <!--<label for="reviewTitle">Book title being reviewed:</label>-->
                    <div id="reviewTitle" th:text="${review.reviewTitle}">Default Review Title</div>

                </h2>

                <h3 class="review-item__header-book" th:text="'Book: '+${review.bookTitle}">Book 1 Title / Book 1 Author</h3>
                <h3 class="review-item__header-category" th:text="'Category: '+${review.categoryName}">Book Category</h3>
                <h3 class="review-item__header-review-author" th:text="'Reviewer: '+${review.userName}">Bross-Hog</h3>
                <!-- <section th:each="tag : ${tags}">
                <h5 class="review-item__header-tag" th:text="${tag.tagName}">tag1</h5></section> -->
                
                <h3 class="review-item__header-date" th:text="'Date Posted: '+${review.reviewDate}">10/2/2019</h3>

            </section>
            <div class="review-body">
                <h3 class="review-item__body" th:text="'Review: '+${review.reviewBody}">

                    Lorem ipsum dolor sit amet, quando sadipscing necessitatibus ex mel, erroribus patrioque
                    instructior
                    sed
                    eu.
                </h3>
            </div>
            <h3 class="review-item__header-likes" th:text="'Likes: '+${review.likes}">Likes</h3>
            <form class="review-item__add-like" action="/like" method="POST">
                <input type="hidden" th:value="*{review.id}" name="reviewId">
                <input class="review-item__add-like__button primary_action" type="submit" name="addLike"
                    value="Add Like">
            </form>
        </article>

        <footer class="footer">

        </footer>
    </div>
</body>

</html>