<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Review</title>
    <link rel="stylesheet" href="css/main.css">
</head>


<body>
    <div class="wrapper">
        <header class="header">
            <h1 class="header-title">Millie's Book Barn</h1>
        </header>
        <section class="navigation-bar">
            <nav>Create a Post</nav>
            <nav> Delete a Post</nav>
            <nav> Edit a Post</nav>
        </section>

        <div class="review-container">

            <section th:each="review : ${reviews}">

                <article class="review-item">

                    <section class="review-item__header">
                        <h2 class="review-item__header-title"><a th:text="${review.reviewTitle}" th:href="|../reviews/${review.id}|">First Review</a></h2>
                        <h3 class="review-item__header-book" th:text="${review.bookTitle}">Book 1 Title / Book 1 Author
                        </h3>
                        <!-- <section class="review-item__header-rating" th:text="${review.ranking}">****</section> -->
                        <h4 class="review-item__header-review-author" th:text="${review.userName}">Bross-Hog</h4>
                        <!-- <h5 class="review-item__header-date" th:text="${review.reviewDate}">10/2/2019</h5> -->
                    </section>

                    <div class="review-body">
                        <h5 class="review-item__body" th:text="${review.reviewBody}">

                            Lorem ipsum dolor sit amet, quando sadipscing necessitatibus ex mel, erroribus patrioque
                            instructior
                            sed
                            eu.
                        </h5>
                    </div>
                </article>

            </section>

        </div>

        <footer class="footer">

        </footer>
    </div>
</body>


</html>