<footer class="footer">

  <div class="footer-content">

    <!-- <div class = "footer-content__footer-item1">
            <img class="footer__wcci-logo" src="../images/wcciicon.png" alt="WCCI Logo"> -->
    <!-- </div> --> 
    
      <div class="footer-content__footer-item2">
        <small>&copy;SpringThyme 2019</small>
      </div>

      <!-- <div class = "footer-content__footer-item3">
          <img class="footer__bookclassics" src="../images/bookclassics2.jpg" alt="book picture"> -->
      <!-- </div> --> 

    </div>

</footer>