<nav>
    <div class="navdiv1">
        <ul class="nav__content">
            <li class="nav__content-list-item"> <a class="nav__content-list-item-decoration" href="all_reviews">All
                    Posts</a></li>
            <li class="nav__content-list-item"><a class="nav__content-list-item-decoration" href="add_review">Create
                    Review</a></li>
        </ul>
    </div>

    <hr>

    <div class="navdiv2">
        <form action="/search" method="POST">
            <fieldset>
                <input type="text" name="searchData" id="search-textbox"></input>
                <button name="submit" id="search-button" value="Submit Review"> Search </button>
            </fieldset>
        </form>
    </div>
</nav>