<nav>
    <div class="navdiv1">
        <ul class="nav__content">
            <li class="nav__content-list-item"> <a class="nav__content-list-item-decoration" href="all_reviews">All
                    Posts</a></li>
            <li class="nav__content-list-item"><a class="nav__content-list-item-decoration" href="add_review">Create
                    Review</a></li>
        </ul>
    </div>

    <hr>

    <div class="navdiv2">
        <div class="key-word-search">Key word search by field:</div>
        <form class="search-form" action="/search" method="POST">
            <fieldset class="search-fieldset">
                <input type="text" name="searchData" id="search-textbox"></input>
                <select class="search-by-dropdown" name="searchField" id="search-by-dropdown">
                    <option value="nada">Select Field</option>
                    <option value="bookTitle">Book Title</option>
                    <option value="reviewBody">Review Content</option>
                    <option value="reviewTitle">Review Title</option>
                    <option value="userName">User Name</option>
                </select>
                <button name="submit" id="search-button" value="Submit Review"> Search </button>
            </fieldset>
        </form>
    </div>

    <div class="message" th:text="${message}"></div>

</nav>